/*overall grid setup */

.container {
    display: grid;
    grid-template-columns: 30% 1fr 20%;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "header header header"
        "nav content ads"
        "nav footer footer";
    column-gap: 15px;
    row-gap: 15px;
    margin: 10px;
    height: 90vh;
}

/* setup each type */

#header {
    grid-area: header;
    background: rgb(255, 181, 181);
    padding: 1.2em;
    border: 2px solid black;
}

#article {
    grid-area: content;
    background: rgb(255, 181, 181);
    padding: 1.2em;
    border: 2px solid black;
}

#nav {
    grid-area: nav;
    background: rgb(255, 181, 181);
    padding: 1.2em;
    border: 2px solid black;
}

#aside {
    grid-area: ads;
    background: rgb(255, 181, 181);
    padding: 1.2em;
    border: 2px solid black;
}

#footer {
    grid-area: footer;
    background: rgb(255, 181, 181);
    padding: 1.2em;
    border: 2px solid black;
}